*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{background-color: rgb(0, 0, 0);}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.top{
    background:linear-gradient(to right , #0e727b , #0fa4b1);
    position: absolute;
    top:16px;
    left: 69%;
}
.bottom{
    background:linear-gradient(to right , #ff512f , #fe9019) ;
    position: absolute;
    top: 70%;
    left:85%;
}
.bottom-one{
    background:linear-gradient(to right , #9b22ea , #bf23f6) ;
    position: absolute;
    top: 70%;
    left:20%;
}
.bottom-two{
    background:linear-gradient(to right , #042388 , #2725bc) ;
    position: absolute;
    top: 5%;
    left:5%;
}
.line{
    height: 3px;
    background-color: #042388;
    width: 600px;
    transform: rotate(65deg);
    position: absolute;
    top: 55%;
    display: none;
}
.line-2{
    height: 3px;
    background-color:#bf23f6;
    width: 890px;
    z-index: -1;
    transform: rotate(-33deg);
    position: absolute;
    top: 50%;
    left: 20%;
    display: none;
}
.line-{
    height: 3px;
    background-color:#0e727b;
    width: 950px;
    z-index: -1;
    position: absolute;
    top: 15%;
    left: 10%;
}
.line-4{
    height: 3px;
    background-color: #0e727b;
    width: 600px;
    transform: rotate(65deg);
    position: absolute;
    top: 55%;
    left: 65%;
    z-index: -1;
    display: none;
}
.form:focus{
    outline: none;
}
.form{
    z-index: 200;
    background-color: rgba(255,255,255,0.07);
    box-shadow: 0 0 40px rgba(8,7,16,0.06);
    border:2px solid rgba(255,255,255,0.1) ;
    display: flex;
    flex-direction: column;
    outline: none;
    height:400px;
    width: 450px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left:22%;
    transform: translate(50%,-50%);
}
h1 , p {
    margin-left: 25%;
}
h1{
    position: absolute;
    top: 1px;
}
p{
    line-height: 1px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    margin-left: 28%;
}
form{
    position: absolute;
    top: 50px;
    margin: 20px 10px;
}
label{
    display: block;
    padding: 2px;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
input{
    height: 50px;
    width: 390px;
    margin-left: 5px;
    padding: 0 10px;
    background-color: rgba(255,255,255,0.07);
    border: none;
    color: white;
    font-size: large;

} 
button{
    height: 50px;
    width: 411px;
    margin-left: 5px;
    padding: 0 10px;
    margin-top: 30px;
    color: black;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
